body{
	background-color:#f2f2f2;
	width:100%;
}

#welcome{
	text-align:center;
	margin: 20px auto;
}

#info{
	cursor:pointer;
}

#content-table{
	border : 2px solid #ababab;
	border-radius: 10px;
	position:relative;
	margin: 0 20px;
	overflow: hidden !important;
	padding-top: 10px;
}

#content-left{
	margin-top:20px;
}

#tableJeu td {
	width:25px;
	height:25px;
	padding:0px;
}

@media (max-width:1024px) {
	/* CSS appliqué à l'IPAD paysage */
	#tableJeu td {
		width:19px;
		height:19px;
		font-size: 0;
	}
	.robot_partie {
		width:17px;
		height:17px;
	}
	#help-text-logged {
		position:absolute;
		bottom:88px;
		color:#0f0f0f;
		text-align:justify;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size:12px;
		background-color: rgba(255, 255, 255, 0.95);
		border:1px #666 solid;
		border-radius:7px;
		padding:8px;
		opacity:0;
		height:0px;
		z-index:2;
		margin:0 10px 0 0;
	}
	.col-md-4 #robot-logged {
		right:60px;
	}
	div.col-md-4 #help-text-logged {
		height: 170px !important;
		bottom:10px;
	}
}

@media (max-width:768px) {
	#tableJeu td {
		width:42px;
		height:42px;
		font-size: 0;
	}
	.robot_partie {
		width:40px;
		height:40px;
	}
	.col-md-4 #bg {
		display: block;
		margin-left: auto;
		margin-right: auto
	}
	#help-text-logged {
		position:absolute;
		bottom:88px;
		color:#0f0f0f;
		text-align:justify;
		font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size:12px;
		background-color: rgba(255, 255, 255, 0.95);
		border:1px #666 solid;
		border-radius:7px;
		padding:8px;
		opacity:0;
		height:0px;
		z-index:2;
		margin:0 10px 0 0;
	}
	.col-md-4 #robot-logged {
		right:270px;
	}
	div.col-md-4 #help-text-logged {
		height: 85px !important;
		bottom:90px;
	}
}

#robot-logged{
	position:absolute;
	right:130px;
	bottom:-150px;
	z-index:1;
}

#bg{
	/*position:absolute;*/
	/*right:0px;
	top:0px;*/
	opacity:0.2;
	z-index:0;
}
#help-text-logged{
	position:absolute;
	bottom:50px;
	color:#0f0f0f;
	text-align:justify;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	background-color: rgba(255, 255, 255, 0.95);
	border:1px #666 solid;
	border-radius:7px;
	padding:8px;
	opacity:0;
	height:0px;
	z-index:2;
	margin:0 10px 0 0;
}
.col-md-4 #help-text-logged {
	height: 120px !important;
}

#chrono {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.blue {
	color:#428bca !important;
}
#footer {
	height: 50px;
	width:100%;
	text-align: center;

}

.clear{
	clear:both;
}

.tableau {
	border: 3px solid black;
}
.tableau th, .tableau td {
	border: 1px solid black;
	padding: 18px 18px;
}

.hautGras {
	border-top: 3px solid !important;
}
.basGras {
	border-bottom: 3px solid !important;
}
.gaucheGras {
	border-left: 3px solid !important;
}
.droiteGras {
	border-right: 3px solid !important;
}
td.noBorderDroite {
	border-right: 1px solid white !important;
}
td.noBorderBas {
	border-bottom: 1px solid white !important;
}
td.noBorderHaut {
	border-top: 1px solid white !important;
}
td.noBorderGauche {
	border-left: 1px solid white !important;
}
