table {
	border-collapse: collapse;
	background-color: #bdbdbd;
}
.tableau {
	border: 3px solid black;
}
.tableau th, .tableau td {
	border: 1px solid black;
	width: 40px;
	height: 40px;
}

.robot {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.hautGras {
	border-top: 3px solid red !important;
}
.basGras {
	border-bottom: 3px solid red !important;
}
.gaucheGras {
	border-left: 3px solid red !important;
}
.droiteGras {
	border-right: 3px solid red !important;
}
td.noBorderDroite {
	border-right: 1px solid #bdbdbd !important;
}
td.noBorderBas {
	border-bottom: 1px solid #bdbdbd !important;
}
