<<<<<<< Updated upstream
	#header {
		height:100px;
		background-color: #2B87FF;
		border-radius: 5px;
		text-align:center;
	}
	#contenu {
		height:700px;
		background-image(../img/background.jpg);
	}
	#infos_connexion{
		padding: 1%;
		width : 50%;
		float : left;
	}
	#imgAccueil{
		padding: 1%;
		width : 50%;
		float : right;
	}
	#footer {		
		height: 50px;	
		width:100%;
		text-align: center;
		background-color: #2B87FF;
		border-radius: 5px;
	}
	
=======
.tableau {
	border: 3px solid black;
}
.tableau th, .tableau td {
	border: 1px solid black;
	padding: 18px 18px;
}

.hautGras {
	border-top: 3px solid red !important;
}
.basGras {
	border-bottom: 3px solid red !important;
}
.gaucheGras {
	border-left: 3px solid red !important;
}
.droiteGras {
	border-right: 3px solid red !important;
}
td.noBorderDroite {
	border-right: 1px solid white !important;
}
td.noBorderBas {
	border-bottom: 1px solid white !important;
}
>>>>>>> Stashed changes
