body{
	background-color:#f2f2f2 !important;
}

/* --- HEADER --- */
#welcome{
	text-align:center;
	margin: 20px auto;
}

#info{
	cursor:pointer;
}

/* --- BODY --- */
/* ---- Loggin ---- */
.divcenter {
	text-align: center;
}
#content{
	border : 2px solid #ababab;
	border-radius: 10px;
	position:relative;
	margin:0 80px;
	overflow:hidden !important;
	padding: 10px 0;
}

.avatar {
	margin:10px;
}

/* ---- Logged ---- */

#content-table{
	border : 2px solid #ababab;
	border-radius: 10px;
	position:relative;
	margin: 0 20px;
	overflow: hidden !important;
	padding-top:10px;
}

/* ---- Left ---- */
#chronodiv, #nbcoupdiv {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ---- PLATEAU ---- */
#tableJeu td {
	width:28px;
	height:28px;
	padding:0px;
}

#tableJeu tr td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hautGras {
	border-top: 3px solid !important;
}
.basGras {
	border-bottom: 3px solid !important;
}
.gaucheGras {
	border-left: 3px solid !important;
}
.droiteGras {
	border-right: 3px solid !important;
}
td.noBorderDroite {
	border-right: 1px solid white !important;
}
td.noBorderBas {
	border-bottom: 1px solid white !important;
}
td.noBorderHaut {
	border-top: 1px solid white !important;
}
td.noBorderGauche {
	border-left: 1px solid white !important;
}

/* --- Informations --- */
#robot {
	position:relative;
	/*right:230px;*/
	bottom:-1500px;
	z-index:2;
	text-align: center;
}

.background-rasende {
	background:url(/img/bg-opac.png) center center no-repeat;
}

.panel {
	bottom:-10px;
}
.panel-body {
	text-align:justify;
}

.blue {
	color:#428bca !important;
}

/* --- Fisheye --- */
.FisheyeMenu img {
	margin:2px;
	border:0;
	vertical-align:top;
	padding:5px;
	width:66px;
	height:66px;
	transition: width 0.2s, height 0.2s;
}
.FisheyeMenu img:hover{
	margin:2px;
	border:0;
	vertical-align:top;
	padding:5px;
	width:75px;
	height:75px;
	transition: width 0.2s, height 0.2s;
}

/* --- Caroussel --- */
.carousel-inner .item img {
	width:auto !important;
	height:140px !important;
	margin:0 auto;
}

.carousel-inner .item {
	text-align:center;
}

.carousel-control {
	background-image:none !important;
}

/* --- FOOTER --- */
#footer {
	height: 50px;
	width:100%;
	text-align: center;
}

@media (max-width:1400px) {
	#tableJeu td {
		width:23px;
		height:23px;
		font-size: 0;
	}
	.robot_partie {
		width:20px;
		height:20px;
	}
}
@media (max-width:1130px) {
	#tableJeu td {
		width:21px;
		height:21px;
		font-size: 0;
	}
	.robot_partie {
		width:19px;
		height:19px;
	}
}

/* --- Optimisé sur iPad --- */
/* ---- CSS appliqué à l'iPad paysage ---- */
@media (max-width:1024px) {
	#tableJeu td {
		width:20px;
		height:20px;
		font-size: 0;
	}
	.robot_partie {
		width:17px;
		height:17px;
	}
}
/* ---- CSS appliqué à l'iPad portrait ---- */
@media (max-width:768px) {
	.divcenter {
		padding-bottom:20px;
	}

	.row div#content {
		margin:0 30px;
	}
	#tableJeu td {
		width:42px;
		height:42px;
		font-size: 0;
	}
	.robot_partie {
		width:40px;
		height:40px;
	}
}

.clear {
	clear:both;
}

.hautGras {
	border-top: 3px solid !important;
}
.basGras {
	border-bottom: 3px solid !important;
}
.gaucheGras {
	border-left: 3px solid !important;
}
.droiteGras {
	border-right: 3px solid !important;
}
