	body{
	background-color:#f2f2f2;
	width:100%;
	}
	#welcome{
	width:800px;
	text-align:center;
	margin: 20px auto;
	}	
	#info{
	cursor:pointer;
	}
	#content{
	border : 2px solid #ababab;
	border-radius: 10px;
	padding: 0 20px;
	position:relative;
	height:500px;
	width:800px;
	margin:20px auto;
	overflow:hidden;
	}
	#content-left{
	margin-top:20px;
	float:left;
	width:390px;
	}
	#content label{
	width:200px;
	}
	 .avatar {
	margin:10px;
	}
	#robot{
	position:absolute;
	right:80px;
	bottom:-150px;
	}
	#help-text{
	position:absolute;
	bottom:-75px;
	right:-40px;
	color:red;
	text-justify:justify;
	opacity:0;
	height:0px;
	}
#footer {		
	height: 50px;	
	width:100%;
	text-align: center;
	
}

.tableau {
	border: 3px solid black;
}
.tableau th, .tableau td {
	border: 1px solid black;
	padding: 18px 18px;
}

.hautGras {
	border-top: 3px solid red !important;
}
.basGras {
	border-bottom: 3px solid red !important;
}
.gaucheGras {
	border-left: 3px solid red !important;
}
.droiteGras {
	border-right: 3px solid red !important;
}
td.noBorderDroite {
	border-right: 1px solid white !important;
}
td.noBorderBas {
	border-bottom: 1px solid white !important;
}
